.header {
    width: 100%;
    left: 0;
    height: 4rem;
    background-color: rgb(209, 88, 28);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
    z-index: 10;
    border-radius: 10px;
    font-size: 30px;
  }
  .degname{
    border-color: aquamarine;
  }
  
  /* .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
    border-radius: 10%;
    padding: 15px;
    
  }
  .main-image img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    transform: rotateZ(-2deg) translateY(-4rem) translateX(-1rem);
  } */