.summary {
  background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  color: rgb(94, 94, 94);
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(212, 212, 212, 0.25);
 margin: 20px 40px 5px 20px;
}
.summary:hover{
  transition: 0.45s;
  color: rgb(0, 0, 0);
}

.summary h2 {
  font-size: 1.5rem;
  margin-top: 0;
  padding: 8px;
}
.summary p{
  font-size: 18px;
  padding: 8px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 10%;
  /* box-shadow: 0 2px 30px rgba(95, 95, 95, 0.25); */
  border-radius: 5px;
  
}
.title{
  background-color: rgb(202, 202, 202);
  color: rgb(94, 94, 94);
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
width: 100%;
}
@media screen and (min-width: 530px) {
  .title{
    font-size: 1rem;
  }
}
