.login {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ),
  url("https://images.unsplash.com/photo-1603760589435-097546501ffa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NzE0OTc2NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
background-size: cover;
background-position: center;
border-radius: 15px;
}

.form {
  padding: 0px 50px;
  width: 40rem;
}

.H1 {
  color: #ff4e22;
  text-align: center;
  margin-top: 1rem;
  padding: 7px;
}
.form input {
  border-radius: 0.5rem;
}
.loginBtn {
  display: flex;
  justify-content:flex-end;
  padding: 7px;

}
@media screen and (max-width: 650px) {
  .form {
    width: 25rem;
    padding: 0px 30px;
  }
}
@media screen and (max-width: 450px) {
  .form {
    width: 20rem;
    padding: 0px 30px;
  }
  .H1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 410px) {
  .form {
    width: 15rem;
    padding: 0px 20px;
  }
  .H1 {
    font-size: 20px;
  }
}
