.Maincontainer {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Title {
  color: #ff4e22;
  margin-top: 3rem;
  text-align: center;
  padding: 0 1rem;
  font-size: 30px;
  font-weight: 800;
}
.mainImage {
 
  width: 95%;
  z-index: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.img{
  width: 100%;
}
.flex_row{
  justify-content: center;
  display: flex;
  font-size: 22px;
  gap: 5px;
}
.container {
  /* padding: 20px; */
  margin: 5px 5px 20px 5px;
  padding: 1.5rem;
  word-wrap: break-word;
  font-family: 'Capriola', sans-serif;
  display: grid;
  grid-template-columns:1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
}
.innercont{
padding: 15px;
margin: 15px;
}
.container p {
  color: rgb(43, 46, 46);
  font-size: 18px;
}
.container h3 {
  color: #ff4e22;
  padding: 10px 0;
  font-size: 32px;
}
.container .btn{
  padding: 19px 0;
  text-align: left;
}
@media screen and (max-width: 870px) {
  .mainImage {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .Title {
    font-size: 18px;
  }
  .container {
    grid-template-columns:1fr;
  }
  .content{
    height: 34rem;
  }
}
@media screen and (max-width: 500px) {
  .Title {
    font-size: 16px;
  }
}
@media screen and (max-width: 300px) {
  .Title {
    font-size: 10x;
  }
}
