.Maincontainer {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Title {
  color: #ff4e22;
  margin-top: 3rem;
  text-align: center;
  padding: 0 1rem;
  font-size: 30px;
  font-weight: 800;
}
.mainImage {
  width: 95%;
  z-index: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
.mainImage img {
  width: 100%;
  padding: 25px;
}
.flex_row {
  justify-content: center;
  display: flex;
  font-size: 30px;
  gap: 10px;
  height: 10vh;
}
.container {
  margin: 5px 5px 20px 5px;
  padding: 1.5rem 1.5rem 0 1.5rem;
  word-wrap: break-word;
  font-family: "Capriola", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-gap: 5px;
  height: 30vh;
}
.container p {
  color: rgb(43, 46, 46);
  font-size: 18px;
}
.container h3 {
  color: #ff4e22;
  padding: 10px 0;
  font-size: 30px;
}
.container .btn {
  padding: 19px 0;
  text-align: right;
}
@media screen and (max-width: 870px) {
  .mainImage {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    height: 60vh;
    text-align: center;
  }
  .innerContent {
    height: 18vh;
  }
}
@media screen and (max-width: 490px) {
  .container {
    height: 45vh;
  }
  .container p {
    font-size: 15px;
  }
  .container h3 {
    font-size: 28px;
  }
  .innerContent {
    height: 22vh;
  }
}
@media screen and (max-width: 390px) {
  .container {
    height: 35vh;
  }
  .container p {
    font-size: 12px;
    padding: 12px;
  }
  .container h3 {
    font-size: 20px;
  }
  .innerContent {
    height: 20vh;
  }
}
@media screen and (max-width: 310px) {
  .container {
    height: 35vh;
  }
  .innerContent {
    height: 25vh;
  }
}
@media screen and (max-width: 250px) {
  .innerContent {
    height: 35vh;
  }
}
