.btnContainer {
  display: flex;
  gap: 10px;
}
.heading {
  text-align: center;
  padding: 10px;
  margin: 10px 10px 15px 10px;
  background: blueviolet;
  border-radius: 15px;
  color: whitesmoke;
}
.errormsg{
  font-size: 12px;
  padding: 3px;
  color: red;
  display: block;
}