.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, auto));
    justify-items: center;
}

@media screen and (max-width: 760px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
    }
}
@media screen and (max-width: 650px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
    }
}
@media screen and (max-width: 450px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    }
}
@media screen and (max-width: 350px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, auto));
    }
}
@media screen and (max-width: 250px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(5rem, auto));
    }
}