.Maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Title {
  margin-top: 2rem;
  background: #ff4e22;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
                   7px 7px 20px 0px rgba(0,0,0,.1),
                   4px 4px 5px 0px rgba(0,0,0,.1);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem;
  color: whitesmoke;
  font-family: 'Capriola', sans-serif;
  border-radius: 15px;
  font-size: 20px;
}
