.container {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.formContainer {
  padding: 20px;
  width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.unsplash.com/photo-1603760589435-097546501ffa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NzE0OTc2NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
    background-size: cover;
    background-position: center;
}
.msg {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.unsplash.com/photo-1603760589435-097546501ffa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NzE0OTc2NA&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
    background-size: cover;
    background-position: center;
}
.title {
  font-size: 20px;
  background-color: #ff4e22;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: whitesmoke;
}
.content {
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
}
.topTitle {
  text-align: center;
  font-size: 25px;
  margin: 5rem 0px 1rem 0px;
  background-color: #ff4e22;
  padding: 6px;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: bold;
}
.bottomTitle {
  text-align: center;
  font-size: 25px;
  margin: 1rem 0px 0px 0px;
  padding: 6px;
  border-radius: 10px;
  color: #ff4e22;
  font-weight: bold;
}
input[type="text"],
input[type="number"],
select,
textarea {
 width: 100%;
  padding: 9px; /* Some padding */
  border: 2px solid #ff4e22; /* Gray border */
  border-radius: 10px; /* Rounded borders */
  /* box-sizing: border-box; Make sure that padding and width stays in place */
  margin-bottom: 8px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}
option {
  background: #ff4e22;
  border-radius: 10%;
  font-weight: 800;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
label {
  padding: 3px;
  border-radius: 5px;
  color: rgb(45, 45, 45);
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .formContainer {
    width: 65%;
  }
  .msg {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .formContainer {
    width: 90%;
  }
  .msg {
    width: 70%;
    margin-top: 20px;
  }
  .topTitle,
  .bottomTitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .topTitle,
  .bottomTitle {
    font-size: 22px;
  }
  .content {
    font-size: 12px;
  }
  .title {
    font-size: 15px;
  }
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    padding: 8px; /* Some padding */
    margin-bottom: 8px; /* Bottom margin */
  }
}
