.Maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.widthSpecifier{
  width: 75%;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  justify-content: center;
}
.title {
  font-size: 1.3rem;
  text-align: center;
  padding: 0.8rem;
  background-color: #7b7b7b;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  color: rgb(255, 255, 255);
  border-radius: 2rem;
  margin: 15px 10px 10px 10px;
  width: 60%;
}
.mainHeading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.length {
  width: 30%;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  background-color: #f3562e;
  color: rgb(255, 255, 255);
  border-radius: 2rem;
  margin: 15px 10px 10px 10px;
  font-size: 1.1rem;
  text-align: center;
  padding: 0.8rem;
}
.btn{
  text-align: center;
}
@media screen and (max-width: 600px) {
  .title {
    font-size: 1rem;
  }
  .length {
    margin: 13px 9px 9px 9px;
    font-size: 0.8rem;
  }
}
@media (max-width: 460px) {
  .title {
    font-size: 0.8rem;
  }
  .length {
    margin: 11px 9px 9px 9px;
    font-size: 0.7rem;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 0.6rem;
  }
  .length {
    margin: 9px 7px 7px 7px;
    font-size: 0.6rem;
    padding: 5px;
  }
}
@media screen and (max-width: 350px) {
  .title {
    font-size: 0.3rem;
  }
  .length {
  margin: 7px 5px 5px 5px;
  font-size: 0.4rem;
  padding: 4px;
  }
}
