.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, auto));
}
.title {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  background-color: blueviolet;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 15px 10px 10px 10px;
  width: 50%;
}
.mainHeading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.length{
  width: 20%;
  background-color: rgb(175, 0, 137);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  margin: 15px 10px 10px 10px;
  font-size: 1.2rem;
  text-align: center;
  padding: 6px;
}
.mainHeading{
  display: flex;
  justify-content: center;
}
@media (max-width: 460px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  }
  .title {
    font-size: 1rem;
  }
}
@media (max-width: 400px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
  }
}
