.title{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    background-color: blueviolet;
    color: whitesmoke;
    border-radius: 15px;
    margin: 15px 10px 10px 10px;
}
.btn{
    text-align: center;
    padding: 10px;
    margin: 10px;
}