.container {
  display: grid;
  grid-template-columns: 90px repeat(2, 3fr);
  grid-template-rows: 65px 650px 65px;
}
.item1 {
  grid-row: 1;
  grid-column: 1/-1;
}
.item2 {
  grid-column: 1;
  grid-row: 2;
  margin-top: 1rem;
}
.item3 {
  grid-column: 2/-1;
  justify-self: center;
  margin-right: 20px;
  width: 80%;
}
.item4{
  grid-row: 3;
  grid-column: 1/-1;
  margin-top: 2.5rem;
}
body{
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
@media (max-width: 1040px) {
  .container {
    grid-template-rows: 65px auto 100px;
  }
}



