* {
  box-sizing: border-box;
}

.footer {
  background: linear-gradient(#fb7452, rgba(218, 177, 132, 0.3)),
    url("https://images.unsplash.com/photo-1593827436316-f25fa93a1af1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY2NzE1NTAxMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}
.container {
  padding: 7px 0;
  bottom: 0;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.footer .social {
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  align-self: center;
}
.footer .social h4{
  font-size: 12px;
}
.footer .social a {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 38px;
  line-height: 38px;
  display: inline-block;
  margin: 0 5px;
  opacity: 0.9;
}
.footer .social a:hover {
  opacity: 2.9;
  transition: transform 0.6s;
  transform: scale(1.1);
}
.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
}
.footer ul li a {
  color: inherit;
  text-decoration: none;
}
.footer ul li {
  display: inline-block;
  padding: 0 7px;
  font-size: 14px;
}
.footer .copyright {
  text-align: center;
  font-size: 14px;
  color: rgb(255, 255, 255);
  padding: 5px;
  font-weight: bold;
}
@media (max-width: 520px) {
  .footer ul {
    font-size: 15px;
  }
  .footer .copyright {
    font-size: 15px;
  }
  .footer .social a {
    font-size: 25px;
    height: 30px;
    width: 30px;
  }
  .container {
    gap: 35px;
  }
}
@media (max-width: 450px) {
  .footer ul {
    font-size: 12px;
  }
  .footer .copyright {
    font-size: 13px;
  }
  .footer .social a {
    font-size: 25px;
  }
  .container {
    gap: 20px;
  }
}
@media (max-width: 350px) {
  .footer ul {
    font-weight: 300;
  }
  .footer .social a {
    font-size: 20px;
  }
  .container {
    gap: 10px;
  }
}

@media (max-width: 320px) {
  .footer ul {
    font-weight: 300;
  }
  .footer .social a {
    font-size: 20px;
  }
  .container {
    gap: 5px;
  }
}