* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
  }
.footer{
	backdrop-filter: blur(8px);
	background: rgba(251, 251, 251, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
	padding: 15px 0;
	bottom: 0px;
	height: 125px;
	border-radius: 1px 1px 0px 0px;
	/* position: fixed; */
	width: 100%;
}
.footer .social {
	text-align: center;
	padding-top: 4px;
	background-color: blueviolet;
	border-radius: 5px;
}
.footer .social a{
font-size: 35px;
color: black;
width: 40px;
height: 40px;
line-height: 38px;
display: inline-block;
margin: 0 10px;
opacity: 0.9;

}
.footer .social a:hover{
opacity: 2.9;
}
.footer ul{
	margin-top: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 0;
	text-align: center;
}
.footer ul li a{
	color: inherit;
	text-decoration: none;
	opacity: 0.9;
}
.footer ul li{
	display: inline-block;
	padding: 0 15px;

}
.footer ul li a:hover{
opacity: 1;
}
.footer .copyright {
	margin-top: 4px;
	text-align: center;
	font-size: 20px;
	color: rgb(0, 0, 0);
}
@media (max-width: 520px) {
	.footer ul{
		font-size: 15px;
	}
	.footer .copyright {
		font-size: 15px;
	}
	.footer .social a{
		font-size: 25px;
		height: 30px;
		width: 30px;
		}
  }