.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .form{
      background-color: white;
      padding: 0px 50px;
      border-radius: 10px;
      background: linear-gradient(
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
      ),
      url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
    margin-top: 2.5rem;
    width: 44rem;
  }
  
  .H1{
      color: blueviolet;
      text-align: center;
      margin-top: 1rem;
      padding: 15px;
  }
  .form input{
    border-radius: .5rem;
  }
  .loginBtn{
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  @media screen and (max-width: 650px) {
    .form{
    width: 25rem;
    padding: 0px 30px;

  }
}
@media screen and (max-width: 450px) {
  .form{
  width: 25rem;
  padding: 0px 30px;
}
.H1{
 font-size: 1.5rem;
}
}
@media screen and (max-width: 410px) {
  .form{
  width: 15rem;
  padding: 0px 20px;

}
.H1{
 font-size: 20px;
}
}