.btn{
    background-color: blueviolet;
    border-radius: 0.3rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    cursor: pointer;
  }
  .btn:hover{
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    box-shadow: 0 2px 10px rgba(28, 28, 28, 0.5);
  }