* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
.SideNavbar{
    height: 760px;
    background-color: rgb(209, 88, 28);
    color: rgb(0, 0, 0);
    font-weight: bold;
    position: fixed;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25)
}
.SideNavbar ul{
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.SideNavbar ul li{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}
.menue{
    background-color: bisque;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.25);
    font-size: 25px;
}
@media (max-width: 1000px) {

}