.sidebar{
  position: fixed;
  left: 0;
  background: rgba(195, 195, 195, 0.25);
  backdrop-filter: blur(5px);
  padding: 6px 8px 0 6px;
  z-index: 50;
  transition: all 0.5s ease;
  border-radius: 0 10px 10px 0px;
  margin-top: 1rem;
  height: 100%;
  width: 75px;
}
.sidebar li{
  text-align: center;
  position: relative;
  margin: 25px 0;
  list-style: none;
  border-radius: 10px;
  cursor: pointer;
}
.sidebar li a{
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #2f2e2e;
  padding: 10px 8px 2px 8px;
  color: whitesmoke;
  font-size: 30px;
}
.sidebar li a:hover,
.sidebar li a:active,
.sidebar li a.active {
  transition: all 0.5s ease;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
.sidebar li a .tooltip{
  position: absolute;
  top: -40px;
  left: calc(70% + 20px);
  z-index: 3;
  background-color: #ff4e22;
  color: #FFF;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 0.25rem;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
 
}
.sidebar li a:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 450px) {
  .sidebar li .tooltip{
    font-size: 12px;
  }
}
