.summary {
  background-color: whitesmoke;
    backdrop-filter: blur(4px);
    border: 3px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  color: rgb(0, 0, 0);
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 5px 15px rgba(212, 212, 212, 0.25);
 margin: 20px 20px 5px 8px;
 display: flex;
 flex-direction: column;
 
}
.summary:hover{
  transition: 0.2s;
  box-shadow: 0 20px 20px rgba(201, 201, 201, 0.5);
  
}

.summary h2 {
  font-size: 1.5rem;
  margin-top: 0;
  padding: 8px;
}
.summary p{
  font-size: 18px;
  padding: 8px;
  height: 100%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  
}
.title{
  background: blueviolet;
  color: white;
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
width: 100%;
}
.mainImage {
  width: 100%;
  height: 10rem;
  z-index: 0;
  overflow: hidden;
  border-radius: 20px;
}

.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
@media screen and (max-width: 350px) {
  .title{
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  .mainImage {
    width: 90%;
  }
}
