.formInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #41414169;
    width: 100%;
}
.loginlabel{
    font-size: 14px ;
    color: rgb(78, 77, 77);
}
.span{
    font-size: 14px;
    color: red;
    display: none;
}
.input:invalid[focused="true"]{
    border: 1px solid rgb(255, 0, 0);
}
.input:invalid[focused="true"] ~ span{
    display: block;
    word-wrap: break-word;
}

  