.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login {
    
    margin: 1rem;
    padding: 2rem 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
  }
  
  .form {
    padding: 0px 50px;
    width: 30rem;
  }
  .input{
    display: none;
    border: 2px solid blue;
  }
  
  .H1 {
    color: #ff4e22;
    text-align: center;
    font-size: 32px;
    margin-bottom: 1rem;
  }
  .form input {
    border-radius: 0.3rem;
  }
  .loginBtn {
    display: flex;
    justify-content: flex-end;
    margin: 0px 12px 10px 0px;
  }
  .link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .spanlink{
    margin-top: 10px;
  }
  @media screen and (max-width: 650px) {
    .form {
      width: 25rem;
      padding: 0px 30px;
    }
  }
  @media screen and (max-width: 450px) {
    .form {
      width: 18rem;
      padding: 0px 30px;
    }
    .H1 {
      font-size: 1.5rem;
    }
    .para{
      text-align: center;
      margin: 0 10px;
    }
  }
  @media screen and (max-width: 410px) {
    .form {
      width: 15rem;
      padding: 0px 20px;
    }
    .H1 {
      font-size: 1rem;
    }
  }
  