.main{
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginMain {
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 2rem 2rem;
  width: 450px;
}
.login {
  margin: 1rem;
  padding: 0.5rem 0;
}
.loginMain h1 {
  color: #ff4e22;
  text-align: center;
  font-size: 32px;
  margin-bottom: 1rem;
}
.loginBtn {
  display: flex;
  justify-content: flex-end;
  margin: 0px 12px 10px 0px;
}
.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff4e22;
  font-size: 18px;
  font-weight: bolder;
}
.spanlink {
  margin-top: 10px;
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 450px) {
  .loginMain h1 {
    font-size: 1.5rem;
  }
  .para {
    text-align: center;
    margin: 0 10px;
  }
}
@media screen and (max-width: 410px) {
  .loginMain h1 {
    font-size: 1rem;
  }
}
