.btn {
  width: 90px  ;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn {
  background: blueviolet;
  border: none;
  z-index: 1;
}
.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: radial-gradient(circle, rgb(220, 150, 247) 0%, blueviolet 100%);
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn:hover {
  color: #fff;
}
.btn:hover:after {
  left: 0;
  width: auto;
}
.btn:active {
  top: 2px;
}

  @media screen and (max-width: 360px) {
    .btn{
      font-size: 0.8rem;
      
    }
  }
  @media screen and (max-width: 400px) {
    .btn{
      font-size: 0.9rem;
      width: 70px;
    }
  }
  @media screen and (max-width: 600px) {
    .btn{
      font-size: 0.95rem;
      width: 80px;
    }
  }
 