.card{
  border-radius: 25px;
  background-color: #FFF;
  margin-top: 40px;
}
.imagecontent,
.cardcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.imagecontent{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: blueviolet;
  border-radius: 25px 25px 25px 25px;
}
.cardimage{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.cardimage .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-color: blueviolet;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
@media screen and (max-width: 310px) {
 
}
